        /* 
===================
        Grid
===================
*/
        
        *,
        *::before,
        *::after {
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        /* container */
        
        #container {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        /* Header navigation links */
        
        .header {
            /* border: 1px solid black; */
            width: 100%;
            padding: 10px;
        }
        
        .nav-links {
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .link-section1 {
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .link-section1 a {
            /* border: 1px solid black; */
            padding: 5px;
            color: #222;
            opacity: 0.75;
            text-decoration: none;
        }
        
        .link-section1 a:hover {
            text-decoration: underline;
        }
        
        .img-link {
            opacity: 0.5;
        }
        
        .img-link:hover {
            opacity: 1;
        }
        
        .link-section1 .btn {
            font-weight: bold;
            border: 1px solid #4285f4;
            border-radius: 2px;
            color: #fff;
            outline: none;
            background: -webkit-linear-gradient(top, #4387fd, #4683ea);
            padding: 5px;
        }
        
        .link-section1 .btn:hover {
            text-decoration: none;
            cursor: default;
        }
        /* main */
        
        .main-container {
            /* border: 1px solid black; */
            height: 360px;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        
        .form-content {
            /* border: 1px solid black; */
            display: flex;
            width: 582px;
            height: 44px;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            position: relative;
        }
        
        .form-content .one {
            width: 25px;
            height: 25px;
            position: absolute;
            left: 60px;
            top: 10px;
            order: 1;
            /* border: 1px solid black; */
            opacity: 0.5;
        }
        
        .form-content .two {
            order: 2;
            width: 493px;
            height: 44px;
            outline: none;
            border-radius: 50px;
            padding: 0 40px;
            border: 1px solid#ccc;
            cursor: text;
        }
        
        .form-content .three {
            width: 25px;
            height: 25px;
            order: 3;
            position: absolute;
            right: 60px;
            top: 10px;
            width: 24px;
            height: 24px;
            background-size: 24px;
            vertical-align: middle;
            /* border: 1px solid black; */
        }
        
        .form-content .three:hover {
            cursor: pointer;
        }
        
        form .btn {
            /* border: 1px solid black; */
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .btn-link {
            border: 1px solid#f2f2f2;
            border-radius: 4px;
            padding: 10px;
            margin: 0 5px;
            background-color: rgba(238, 237, 237, 0.932);
            color: #5F6368;
        }
        
        .btn-link:hover {
            background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
            color: #222;
            border: 1px solid #c6c6c6;
            cursor: pointer;
        }
        /* Footer Navigation links */
        
        .footer {
            /* border: 1px solid black; */
            width: 100%;
            height: 54px;
            padding: 10px;
            background: #f2f2f2;
            border-top: 1px solid#e4e4e4;
            position: fixed;
            bottom: 0;
            left: 0;
        }
        
        .link-section2 {
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .link-section2 a {
            /* border: 1px solid black; */
            padding: 5px;
            color: #222;
            opacity: 0.75;
            text-decoration: none;
        }
        
        .link-section2 a:hover {
            text-decoration: underline;
        }